
.container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 18.5rem;
}

.nav-bar-header-color {
    color: #ffb443;
}

.Card {
    background: white;
    width: 16rem;
    margin-top: 1rem;
    margin-left: .6rem;
}
.card-image {
    background-color: aqua;
    height: 8rem;
    width: 16rem;
    margin-bottom: 15px;
}

.card-image img {
    background-color: aqua;
    margin-bottom: 15px;
}

.bread-1 {
    background-image: url("https://assets.bonappetit.com/photos/5c62e4a3e81bbf522a9579ce/16:9/w_4000,h_2250,c_limit/milk-bread.jpg");
}

.card-text {
    font-weight: bold;
    font-size: 0.7rem;
}

.container-card-text {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.add-btn {
    display: flex;
    width: 2.7rem;
    height: 2rem;
    border-radius: 0.7rem;
    background-color: #9cfa24;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;
    outline-color: #fff;
}

.add-btn p {
    color: #fff;
    right: 1rem;
    font-size: 2rem;
    margin-top: 0.7rem;
    font-weight: bolder;
}


.selected-food-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    background-color: #b9b9b980;
    width: 18.5rem;
    height: 37rem;
    margin-left: 18.5rem;
}
.selected-food-card {
    display: grid;
    grid-template-columns: 1.3fr 2fr 1fr;
    width: 16.6rem;
    height: 4.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: #fff;
}

.selected-food-card img {
    width: 6rem;
    height: 4.5rem;
    border-radius: 1rem;
    background-color: #fff;
}

.selected-food-card-text {
    font-size: .6rem;
    font-weight: bold;

}

.remove-btn {
    display: flex;
    width: 2.7rem;
    height: 2rem;
    border-radius: 0.7rem;
    background-color: #FF5454;
    align-items: center;
    justify-content: center;
    margin-top: 1.1rem;
}

.remove-btn p {
    color: #fff;
    right: 1rem;
    font-size: 2rem;
    margin-top: 0.7rem;
    font-weight: bolder;
}

.selected-food-footer {
    position:absolute;
    bottom: 0;
    padding: 1rem;
    padding-top: .5rem;
    width: 18.5rem;
    background-color: #fff;
}

.selected-food-footer h3 {
    font-weight: bold;
}

.order-btn {
    display: flex;
    width: 16.5rem;
    height: 3rem;
    border-radius: 0.7rem;
    background-color: #FFB443;
    align-items: center;
    justify-content: center;
    margin-top: 1.1rem;
}

.order-btn p {
    color: #fff;
    right: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 900;
}
